.table-from-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;

    form {
        display: flex;
        flex-direction: column;
        width: 500px;
        padding: 10px;

        button {
            align-self: center;
        }

        &>* {
            margin: 10px;
        }

        div {
            display: flex;
            justify-content: space-between;
        }
    }
}