.pagination-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px;

    button {
        height: 40px;
        padding: 0 10px;
        background-color: #04AA6D;
        color: #fff;
    }
}